mcp-knowledge-base[server] @ https://github.com/jasonuithol/ai-agent-mcps/archive/refs/tags/kb-v0.3.0.tar.gz#subdirectory=mcp-knowledge-base
mcp>=2,<3
chromadb>=1.0.0
uvicorn>=0.34.0
onnxruntime-gpu>=1.21.0,<1.22.0
